In [5]:
import pandas as pd
import numpy as np

In [7]:
dataset=pd.read_csv("Market_Basket_Optimisation.csv")

In [9]:
print(dataset)

              shrimp            almonds      avocado    vegetables mix  \
0            burgers          meatballs         eggs               NaN
1            chutney                NaN          NaN               NaN
2             turkey            avocado          NaN               NaN
3      mineral water               milk   energy bar  whole wheat rice
4     low fat yogurt                NaN          NaN               NaN
...              ...                ...          ...               ...
7495          butter         light mayo  fresh bread               NaN
7496         burgers  frozen vegetables         eggs      french fries
7497         chicken                NaN          NaN               NaN
7498        escalope          green tea          NaN               NaN
7499            eggs    frozen smoothie  yogurt cake    low fat yogurt

     green grapes whole weat flour yams cottage cheese energy drink  \
0             NaN              NaN  NaN            NaN          NaN
1             NaN              NaN  NaN            NaN          NaN
2             NaN              NaN  NaN            NaN          NaN
3       green tea              NaN  NaN            NaN          NaN
4             NaN              NaN  NaN            NaN          NaN
...           ...              ...  ...            ...          ...
7495          NaN              NaN  NaN            NaN          NaN
7496    magazines        green tea  NaN            NaN          NaN
7497          NaN              NaN  NaN            NaN          NaN
7498          NaN              NaN  NaN            NaN          NaN
7499          NaN              NaN  NaN            NaN          NaN

     tomato juice low fat yogurt green tea honey salad mineral water salmon  \
0             NaN            NaN       NaN   NaN   NaN           NaN    NaN
1             NaN            NaN       NaN   NaN   NaN           NaN    NaN
2             NaN            NaN       NaN   NaN   NaN           NaN    NaN
3             NaN            NaN       NaN   NaN   NaN           NaN    NaN
4             NaN            NaN       NaN   NaN   NaN           NaN    NaN
...           ...            ...       ...   ...   ...           ...    ...
7495          NaN            NaN       NaN   NaN   NaN           NaN    NaN
7496          NaN            NaN       NaN   NaN   NaN           NaN    NaN
7497          NaN            NaN       NaN   NaN   NaN           NaN    NaN
7498          NaN            NaN       NaN   NaN   NaN           NaN    NaN
7499          NaN            NaN       NaN   NaN   NaN           NaN    NaN

     antioxydant juice frozen smoothie spinach  olive oil
0                  NaN             NaN     NaN        NaN
1                  NaN             NaN     NaN        NaN
2                  NaN             NaN     NaN        NaN
3                  NaN             NaN     NaN        NaN
4                  NaN             NaN     NaN        NaN
...                ...             ...     ...        ...
7495               NaN             NaN     NaN        NaN
7496               NaN             NaN     NaN        NaN
7497               NaN             NaN     NaN        NaN
7498               NaN             NaN     NaN        NaN
7499               NaN             NaN     NaN        NaN

[7500 rows x 20 columns]

In [25]:
# lets know the column names from the dataset
colname = dataset.columns

# print the colname along its dtype
print("The column name and its datatype:")
for x in colname:
    print(f"{x}-->{dataset[x].dtype}")

The column name and its datatype:
shrimp-->object
almonds-->object
avocado-->object
vegetables mix-->object
green grapes-->object
whole weat flour-->object
yams-->object
cottage cheese-->object
energy drink-->object
tomato juice-->object
low fat yogurt-->object
green tea-->object
honey-->object
salad-->object
mineral water-->object
salmon-->object
antioxydant juice-->object
frozen smoothie-->object
spinach-->object
olive oil-->float64

In [59]:
 print("the last two column:",dataset.iloc[:,-2:])
print("using splicing method:",dataset[-1:-3:1])
df_slice = dataset.iloc[1:4, -1:-3] # Output: Rows 1-3, last two Columns
print(df_slice)
data=dataset.iloc[1:4,-2:] # this code will give the row 1,2,3 and also last two cols
print(data)

the last two column:      spinach  olive oil
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
...      ...        ...
7495     NaN        NaN
7496     NaN        NaN
7497     NaN        NaN
7498     NaN        NaN
7499     NaN        NaN

[7500 rows x 2 columns]
using splicing method: Empty DataFrame
Columns: [shrimp, almonds, avocado, vegetables mix, green grapes, whole weat flour, yams, cottage cheese, energy drink, tomato juice, low fat yogurt, green tea, honey, salad, mineral water, salmon, antioxydant juice, frozen smoothie, spinach, olive oil]
Index: []
Empty DataFrame
Columns: []
Index: [1, 2, 3]
  spinach  olive oil
1     NaN        NaN
2     NaN        NaN
3     NaN        NaN

In [65]:
# using tail and head
dataset.tail(4)
dataset.head(6)
dataset.sample(6)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
6249,parmesan cheese,spaghetti,green grapes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
945,shrimp,chocolate,mushroom cream sauce,candy bars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477,ground beef,mineral water,protein bar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2684,soda,cottage cheese,shampoo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5293,soup,eggs,cottage cheese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
946,candy bars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN