#This file all about the pandas libaray
'''
data analysis and data manipulation library in Python. 
It provides data structures and functions needed to work with structure data
1.Data structure ->series contains the COLUMN in a table )1D labbeled array holding data type like int,float,str etc.
2.Data Frames :A 2D labeled data structure with columns and rows

3.Reading the csv file :read.csv('path')

4.To know the datatype of the dataset dataset.dtypes

5.To access the particular record using dataset.iloc[9] -->8,dataset.iloc[0:3]

5.to know the attribute of the dataset : dataset.columns -->return an array

6.To know the index of the dataset it gives start,stop,step :dataset.index

7.To know the frist and last records of the dataset :dataset.head(),dataset.tail()

8.To know the table sorting index order according to the axis=0,1(c r) 
   =>By default is always in ascending order dataset.sort_index(axis=0,ascending=false)

'''

In [9]:
import pandas as pd
import numpy as np

In [13]:
# create the series
s=pd.Series([1,2,3,9.3,"columnName",np.nan])
print(f"The series are {s}")

The series are 0             1
1             2
2             3
3           9.3
4    columnName
5           NaN
dtype: object

In [15]:
s[0]

1

In [43]:
#Data frame are similar to object in Javascript but each key acts like attribute (colName)
#and values contains in the form array either categorical or Numerical
df={
 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}
print(df)
#accessing the data
print("The Names in the given dataset ",df['Name'])

{'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 'Age': [24, 27, 22, 32, 29], 'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']}
The Names in the given dataset  ['Alice', 'Bob', 'Charlie', 'David', 'Eva']

To Read the dataset  using 
1.read_csv('path')
2.read_excel
3.read_json
4.read_Sql_query

In [57]:
dataset=pd.read_csv('shopping_trends.csv')

In [59]:
dataset

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [196]:
print(len(dataset) )#length of dataset
print(dataset.shape)
dataset.size

3900
(3900, 19)

74100

In [80]:
#to know the dtype of the given dataset
dataset.dtypes

Customer ID                   int64
Age                           int64
Gender                       object
Item Purchased               object
Category                     object
Purchase Amount (USD)         int64
Location                     object
Size                         object
Color                        object
Season                       object
Review Rating               float64
Subscription Status          object
Payment Method               object
Shipping Type                object
Discount Applied             object
Promo Code Used              object
Previous Purchases            int64
Preferred Payment Method     object
Frequency of Purchases       object
dtype: object

TO THE VIEW THE DATA WE USE 
dataset.head() -->the frist 5 records or tuples
dataset.tail() --> the last 5 tuple we will get

In [64]:
dataset.head()
dataset.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Venmo,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Venmo,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,PayPal,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [70]:
dataset.tail()
dataset.tail(1)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [82]:
print(dataset['Gender'].head(3))
print(dataset['Size'].tail(4))
print(dataset['Size'].dtypes)

0    Male
1    Male
2    Male
Name: Gender, dtype: object
3896    L
3897    L
3898    S
3899    M
Name: Size, dtype: object
object

 INDEXING in dataset which gives the range of the particular column or entity w
 with start stop and step

 COLUMNS :dataset.columns return a series(Array) which contains all the columns

In [95]:
dataset['Age'].index
dataset.index

RangeIndex(start=0, stop=3900, step=1)

In [113]:
s=dataset.columns
for value in s:
    print(f'The value is :{value} and its datatype :{dataset[value].dtypes}')

The value is :Customer ID and its datatype :int64
The value is :Age and its datatype :int64
The value is :Gender and its datatype :object
The value is :Item Purchased and its datatype :object
The value is :Category and its datatype :object
The value is :Purchase Amount (USD) and its datatype :int64
The value is :Location and its datatype :object
The value is :Size and its datatype :object
The value is :Color and its datatype :object
The value is :Season and its datatype :object
The value is :Review Rating and its datatype :float64
The value is :Subscription Status and its datatype :object
The value is :Payment Method and its datatype :object
The value is :Shipping Type and its datatype :object
The value is :Discount Applied and its datatype :object
The value is :Promo Code Used and its datatype :object
The value is :Previous Purchases and its datatype :int64
The value is :Preferred Payment Method and its datatype :object
The value is :Frequency of Purchases and its datatype :object

sort_index() sort the given entity or attribute based on the axis

In [125]:
# by default it is in ascending order
dataset.sort_index(axis=0,ascending=False) # 0 -->columns
dataset.sort_index(axis=1,ascending=False) # 1 -->rows

,Subscription Status,Size,Shipping Type,Season,Review Rating,Purchase Amount (USD),Promo Code Used,Previous Purchases,Preferred Payment Method,Payment Method,Location,Item Purchased,Gender,Frequency of Purchases,Discount Applied,Customer ID,Color,Category,Age
0,Yes,L,Express,Winter,3.1,53,Yes,14,Venmo,Credit Card,Kentucky,Blouse,Male,Fortnightly,Yes,1,Gray,Clothing,55
1,Yes,L,Express,Winter,3.1,64,Yes,2,Cash,Bank Transfer,Maine,Sweater,Male,Fortnightly,Yes,2,Maroon,Clothing,19
2,Yes,S,Free Shipping,Spring,3.1,73,Yes,23,Credit Card,Cash,Massachusetts,Jeans,Male,Weekly,Yes,3,Maroon,Clothing,50
3,Yes,M,Next Day Air,Spring,3.5,90,Yes,49,PayPal,PayPal,Rhode Island,Sandals,Male,Weekly,Yes,4,Maroon,Footwear,21
4,Yes,M,Free Shipping,Spring,2.7,49,Yes,31,PayPal,Cash,Oregon,Blouse,Male,Annually,Yes,5,Turquoise,Clothing,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,No,L,2-Day Shipping,Summer,4.2,28,No,32,Venmo,Cash,Virginia,Hoodie,Female,Weekly,No,3896,Turquoise,Clothing,40
3896,No,L,Store Pickup,Spring,4.5,49,No,41,Bank Transfer,PayPal,Iowa,Backpack,Female,Bi-Weekly,No,3897,White,Accessories,52
3897,No,L,Standard,Spring,2.9,33,No,24,Venmo,Credit Card,New Jersey,Belt,Female,Quarterly,No,3898,Green,Accessories,46
3898,No,S,Express,Summer,3.8,77,No,24,Venmo,PayPal,Minnesota,Shoes,Female,Weekly,No,3899,Brown,Footwear,44
3899,No,M,Store Pickup,Spring,3.1,81,No,33,Venmo,Bank Transfer,California,Handbag,Female,Quarterly,No,3900,Beige,Accessories,52

In [144]:
dataset.iloc[1,5] # 1,2,3,4 a[1][5] a[r][c]

64

In [150]:
dataset.iloc[1] #a[1] # a[r][0]

Customer ID                             2
Age                                    19
Gender                               Male
Item Purchased                    Sweater
Category                         Clothing
Purchase Amount (USD)                  64
Location                            Maine
Size                                    L
Color                              Maroon
Season                             Winter
Review Rating                         3.1
Subscription Status                   Yes
Payment Method              Bank Transfer
Shipping Type                     Express
Discount Applied                      Yes
Promo Code Used                       Yes
Previous Purchases                      2
Preferred Payment Method             Cash
Frequency of Purchases        Fortnightly
Name: 1, dtype: object

In [146]:
dataset.head(7)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Venmo,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,49,Cash,Quarterly

In [180]:
# print(dataset.iloc[:]) # gives the enter table
# print(dataset.iloc[:3]) # all the rows and 3rd columns
# print(dataset.iloc[:,1:3]) #all the rows of 1,2 columns
print(dataset.iloc[1,4])

Clothing

In [178]:
dataset.loc[1,'Age']

66

In [200]:
dataset.isnull() # gives the table with true or false
dataset.isnull().any() # A rough describe about the table

Customer ID                 False
Age                         False
Gender                      False
Item Purchased              False
Category                    False
Purchase Amount (USD)       False
Location                    False
Size                        False
Color                       False
Season                      False
Review Rating               False
Subscription Status         False
Payment Method              False
Shipping Type               False
Discount Applied            False
Promo Code Used             False
Previous Purchases          False
Preferred Payment Method    False
Frequency of Purchases      False
dtype: bool

In [184]:
dataset.loc[:,['Age','Size']] #

      Age Size
0      55    L
1      19    L
2      50    S
3      21    M
4      45    M
...   ...  ...
3895   40    L
3896   52    L
3897   46    L
3898   44    S
3899   52    M

[3900 rows x 2 columns]

In [204]:
data=pd.read_csv('train.csv')
print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [250]:
#sample helps in pick the random data from the dataset
data.sample(4)
data.isnull() #gives the table with boolena values
data.isnull().any() #means age,embarked contains the Nan values
# lets get the count of this null values
print(data.isnull().any())
print(data.isnull().sum())
print(data.count()) # return the count value of which don't have NAN
print(data.shape) # row and column
print(data.size)

# knowing the precentage of the missing values
totalcell=np.product(data.shape)
print("the total cells in the column:",totalcell) #size
missing=data.isnull().sum()
print(missing[0:10])
print(missing)
precentage =(missing/totalcell)*100
print(precentage)

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64
(891, 12)
10692
the total cells in the column: 10692
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            1.655443
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          6.425365
Embarked       0.018706
dtype: float64

In [266]:
# # data intution ...
# #data imputation ...
# # data.dropna() --> drop the row which contains the missing values
# d=data.dropna()
# print(d.shape) # row got reduced Man!!!
# d.isnull().sum()

(183, 12)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [276]:
# better remove the column which contains atleat one missing values
column_dropped=data.dropna(axis=1)
column_dropped.sample(6)
column_dropped.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
SibSp          0
Parch          0
Ticket         0
Fare           0
dtype: int64

In [284]:
print(data.shape[1]) #column count
print(column_dropped.shape[1]) # count count after removing missing values

12
9

In [300]:
# rather then removing the values we can fillna the values
print(data.sample(5))
# Assuming 'data' is your DataFrame

data['Age'] = data['Age'].fillna(23)
data.sample(4)

     PassengerId  Survived  Pclass                                   Name  \
93            94         0       3                Dean, Mr. Bertram Frank
393          394         1       1                 Newell, Miss. Marjorie
294          295         0       3                       Mineff, Mr. Ivan
375          376         1       1  Meyer, Mrs. Edgar Joseph (Leila Saks)
370          371         1       1            Harder, Mr. George Achilles

        Sex   Age  SibSp  Parch     Ticket      Fare Cabin Embarked
93     male  26.0      1      2  C.A. 2315   20.5750   NaN        S
393  female  23.0      1      0      35273  113.2750   D36        C
294    male  24.0      0      0     349233    7.8958   NaN        S
375  female  23.0      1      0   PC 17604   82.1708   NaN        C
370    male  25.0      1      0      11765   55.4417   E50        C

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
510,511,1,3,"Daly, Mr. Eugene Patrick",male,29.0,0,0,382651,7.750,NaN,Q
751,752,1,3,"Moor, Master. Meier",male,6.0,0,1,392096,12.475,E121,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,23.0,0,0,2649,7.225,NaN,C
308,309,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.000,NaN,C

In [312]:
data.isnull().sum()
data['Cabin']=data['Cabin'].fillna('E121')
data['Embarked']=data['Embarked'].fillna('F')
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Normalization 
Min-Max Scaling: Transforms data into a specific range, usually [0, 1].
Standardization (Z-score Normalization): Transforms data to have a mean of 0 and a standard deviation of 1, with no specific range.

Effect of Outliers:

Min-Max Scaling: Sensitive to outliers since it relies on the minimum and maximum values. Extreme values can compress the range of other values.
Standardization (Z-score Normalization): Less sensitive to outliers; standardizes data based on mean and variance, so extreme values have less impact on the overall distribution.
When to Use:

Min-Max Scaling: When you need features to be within a bounded range. Useful for algorithms that require scaled data (e.g., neural networks).
Standardization: When features have different units or scales and you want to standardize the data to a common scale with zero mean and unit variance. Useful for algorithms like SVM or k-means clustering.

In [ ]:
# scale the goals from 0 to 1
# for min_max scaling
from mlxtend.preprocessing import minmax_scaling
scaled_data = minmax_scaling(data, columns = [0])
print(scaled)